body {
  background-color: rgb(76, 79, 82);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.header-container {
  position: fixed;
  top: 0;
  left: -5px;
  z-index: 999;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100vw;
  background-color: rgb(12, 121, 246);
}

.container {
  padding-top: 60px;
}

.search-form {
  display: flex;
  justify-content: center;
  height: 30px;
}

input {
  padding: 5px;
  border: none;
  outline: solid 2px rgb(108, 203, 244);
  border-radius: 3px;
  font-size: 18px;
}
